/* style.css */
.section {
    display: flex;
    height: 60px;
    width: 100%;
}

#tab-bar {
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
.section button{
    background-color: dodgerblue;
    color:white;
    font-size: 30px;
}

.tab {
    height: 90%;
    background-color: #b8f5ba; /* Green */
    padding: 0 10px;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
    display: flex;
    align-items: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Specify font family */
}
.closebtn{
    font-size: 10px;
}
.blanktext {
    position: fixed; /* Position the loading text relative to the viewport */
    top: 50%; /* Place it at the vertical center */
    left: 50%; /* Place it at the horizontal center */
    transform: translate(-50%, -50%); /* Center it exactly */
    z-index: 9999; 
    color : black;/* Ensure it's above other elements */
}


.input {
    height: 50%;
    width: 90%;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Specify font family */
}

.tab button {
    border: none;
    background-color: transparent;
    color: #FFFFFF; /* White */
    cursor: pointer;
    
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Specify font family */
}

.tab button:hover {
    color: #ff0000; /* Red */
}

#content {
    border: 2px solid #4cae4f; /* Green border */
    padding: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Specify font family */
}

#iframe-content {
    border: 1px solid #4CAF50; /* Green border */
    border-radius: 0 0 5px 5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Specify font family */
}

#iframe-content:empty::before {
    content: "Search for a URL and press Enter to see content";
    color: #999999; /* Light gray text */
    font-style: italic;
}
